.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainBody {
  min-height: 95vh;
  background-color: #b5c2db;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.LeftSide{
  background-color: rgb(245, 245, 231);
  /* display: flex; */
  width: 50%;
  min-height: 95vh;
}

.RefreshBtn{
  width: 33%;
  padding: 5%;
  margin: 5%;
}

.RightSide{
  background-color: rgb(231, 237, 231);
  width: 50%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.TopHeader{
  margin: 4%;
}

.UserID{
  padding-left: 15%;
  padding-right: 15%;
}

.ChangeID{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}